*{
	margin:0px;
	padding:0px;

}
*::-moz-selection{
   background: rgba(0,0,0,.1);
   color: #BD3600;
}

*::selection {
   background: rgba(0,0,0,.1);
   color: #BD3600;
}
body{
	font-family: 'Roboto', sans-serif;
	background-color: gray;

}
.inf_back h1{
	font-weight: 200;
}

header{
	width: 100%;
}
#back{
	background: url(../img/eyplazas/concurso.png) 50% 50% no-repeat;
	width: 100%;
	height:700px;
	position: fixed;
	top:0;
	left:0;
	z-index: -50;
	overflow: hidden;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
}

#back_image{
	min-width: 100%;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;

	
}

#cabezera nav
{

	width: 100%;
    position: fixed;
    top:0;
    left:0;
    background: transparent;
    /*box-shadow: 2px 1px 3px rgba(0,0,0, 1);*/
    z-index: 100;
}

#cabezera nav ul 
{
	list-style: none;
	float:right;
}

#cabezera nav .div_logo{
	float: left;
	margin:0;
	padding-top: 8px;
	padding-left: 15px;
}

#cabezera nav .logo
{
	width: 27px;
	
}
#cabezera nav ul li
{
	float: left;
	color: #fff;
	

}

#cabezera nav ul li a 
{
	color: rgba(255,255,255,1);	
	padding-top: 27px;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
	text-decoration: none;
	-webkit-transition: color 2s;
	-moz-transition: color 2s;
	-o-transition: color 2s;
		
}

#cabezera nav .fade-transparent {

    background-color: transparent;

    -webkit-transition: background-color 1s;
    transition: background-color 1s;

}
.menu_bar{
	display:none;
}

.navi
{
	font-size: 23px;
	color: transparent;
	float:left;
	padding-left: 4px;
    padding-top: 10px;
    -webkit-transition-property:color, text;
    -webkit-transition-duration: .05s, 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property:color, text;
    -moz-transition-duration:0.5s;
    -moz-transition-timing-function: ease;
    -o-transition-property:color, text;
    -o-transition-duration:0.5s;
    -o-transition-timing-function: ease;
} 
.navi:hover{
	color:#666666;

}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #633800;
  opacity: 0.7;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}



.inf_back{
	width: 100%;
	height: 700px;
	padding-top: 200px;
	top: 0px;
	position: absolute;
	float: left;
	color: #fff;
	text-align: center;
	z-index: -49;
	background-color: rgba(0,0,0,.5);
	
}

.inf_back h1{
	 font-size: 5em;
    letter-spacing: 0.14em;
}

.inf_back p{
	font-size: 20px;
}















/***********************************
ABAJO VA EL CONTENIDO DE LA PAGINA
************************************/
/*e2cb92*/

/***************************
           IMAGENES
***************************/




#section1{
	background: url(../img/manzana.jpg) 50% 50% no-repeat;
}

#section2{
	
	background: url(../img/camiones.jpg) 50% 50% no-repeat;
}
#section3{
	
	background: url(../img/hotel.jpg) 50% 50% no-repeat;
}
#section4{
	
	background: url(../img/tenerife.jpg) 50% 50% no-repeat;
}
#imagenes 
{
	width: 100%;
	height:820px;
	background: #e8e8e8;
	margin-top: 441px;
	/*overflow: hidden;*/
	text-align: center;
	margin-bottom: 295px;

}



#section1, #section3 
{
	width: 450px;
	margin-top: 3%;
	margin-left: 3.5%;
	margin-right:1.5%;



}


#section2,#section4
{
	width: 450px;
	margin-top: 3%;
	margin-right: 3%;
	margin-left: 1.5%;




}
#section3,#section4
{
	margin-bottom: 3%;
}

#section1, #section2, #section3, #section4{
	padding: 0;
	width: 45%;
	height: 350px;
	float:left;
	overflow: hidden;
	background-size: cover;

}



 article{
 	padding:80px;
 	height:600px;

 }
#section1 h3, #section2 h3, #section3 h3, #section4 h3{
	position:relative;
	width: 100%;
	height:auto;
	padding-top: -3%;
	font-size: 35px;
	-webkit-transition: font-size 1s;
	-moz-transition: font-size 1s;
	-o-transition: font-size 1s;
	color: #fff;
	text-align: center;

		
	
	} 
	#section1 p, #section2 p, #section3 p, #section4 p{
	position:relative;
	width: 100%;
	height:auto;
	padding-top: -20px;
	font-size: 20px;
	-webkit-transition: font-size 1s;
	-moz-transition: font-size 1s;
	-o-transition: font-size 1s;


	color: #fff;
	text-align: center;
	
	}

.p1,.p2,.p3,.p4
{
	display: none;

}
/*.h311,.h322,.h332,.h344
{
	display: none;

}*/

.section_rgba1, .section_rgba4 {
	background-color: rgba(0,0,0,.5);
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	
}
.section_rgba2{
	background-color: rgba(0,0,0,.5);
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	
}
.section_rgba3 {
	background-color: rgba(0,0,0,.5);
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	
}
.section_rgba1:hover{
	background-color: rgba(30,30,30,.85);

}
.section_rgba4:hover {
	background-color: rgba(30,30,30,.85);	
	}
.section_rgba2:hover{
	background-color: rgba(30,30,30,.85);
}
.section_rgba3:hover {
	background-color: rgba(30,30,30,.85);
}






/***************************************
ARRIBA VA TODO EL CONTENIDO DE LA PAGINA
***************************************/



/******************************
			FOOTER
******************************/
footer{
	color:#fff;
	position: fixed;
	bottom: -1px;
	background-color:#333332;
	width: 100%;
	height: 300px;
	z-index: -98;
	text-align: center;
	font-size: 18px;

}
footer #piecera
{
	width: 100%;
	display: block;

}
footer #piecera #content,#content2,#content3
{
	width: 28.3%;
	margin-top: 2%;
	margin-right:2%;
	margin-left:3%;
	float:left;

}
footer #piecera #content ul li,#content2 ul li, #content3 ul li
{
	display: inline-block;
	margin: 5px 8px;

}
footer #piecera #content img 
{
	width: 150px;
	height: 35px;
}



footer #piecera #content2 img
{
	width: 45px;
	margin-left: -100%;
	margin-top: 12%;

}
footer #piecera #content2 p
{
	margin-left: 15%;
	font-size: 13px;
	padding-left: 1%;

}
footer #piecera #content2 ul li
{
	margin-top: -2%;
}
footer #piecera #content2 h3 
{
	margin-top: -28%;
}
footer #piecera #content3 ul li
{
	margin-bottom: 5%;
}
footer #piecera #content3 img
{
	width: 2em;
	margin-top: 10%;
	margin-left: -100%;
}
footer #piecera #content3 p 
{
	margin-top: -16%;
	margin-left: 15%;

}



/******************************
		   MEDIA QUERY
******************************/
#nav2{
	display: none;
}

@media screen and (max-width: 920px){
	#menu2{
	position: fixed;
	top:0;
	margin:0;
	margin-top: 73px;
	width: 100%;
	height: 100%;
	left: 100%;
	background-color: rgba(255,255,255,1);
	z-index: 2000;
}
#nav2{
	display: block;
	width: 100%;
	height: 70px;
	position:fixed;
}
#menu2 #nav2 ul{
	overflow: hidden;
	list-style: none;
}

#menu2 #nav2 ul li {
	color:#fff;
	
}
#menu2 #nav2 ul li a {
	color: rgba(99,56,0,1);	
	text-align:center;
	padding: 20px;
	display: block;
	float:none;
	border-bottom:1px solid rgba(0,0,0,.5);
	text-decoration: none;
}
#menu2 #nav2 ul li .btn-inicio{
	border-top:1px solid rgba(0,0,0,.5);
}
/*#nav2 ul li span {
	margin-right: 10px; Por si agregamos iconos al menu
}*/
#menu2 #nav2 ul li a:hover{
	background:rgba(240,240,240,1);;
}


	#cabezera nav{
		width: 100%;
		height: 70px;
		margin:0;
		position:fixed;
	}
	#links{

	}
	header nav ul{
		display: none;
	}
	header nav ul li{
		display: none;	}

	.menu_bar{
		display: block;
		width: 100%;
		height: 73px;
	}
	.menu_bar .bt-menu{
		display:block;
		padding:20px;
		background-color: rgba(255,255,255,1);
		height: 73px;
		color: rgba(50,50,50,1);
		box-shadow:2px 1px 3px rgba(150,150,150,1);
		-webkit-box-sizing:border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.menu_bar span{
		float:right;
		font-size: 40px;
		
	}

.inf_back h1{
	font-size: 4em;
	}
	#section1, #section2, #section3, #section4{
	width: 100%;
	height: 380px;
	}


#imagenes 
{
	/*height: 1585px;*/

	height:1570px;
	/*margin-bottom: 299px;*/

}
#section1 
{
	margin-top: 2%;
}

#section1, #section2, #section3, #section4
{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 2%;
}

#section1 h3, #section2 h3, #section3 h3, #section4 h3{

	padding-top: 3%;
	color: #fff;
	text-align: center;
	font-size: 40px;

		
	
	} 
	#section1 p, #section2 p, #section3 p, #section4 p{

	padding-top: 20px;
	font-size: 25px;

	
	}



	/*****************************************
			CODIGO NUEVO EN 920PX
	*****************************************/
	#perfil article{
		width: 100%;	
	}
	#bienvenidos{
		height: 600px;
	}
	#contenido{
		width: 100%;
	}
	#guion{
		display: none;
	}
}

@media screen and (max-width: 480px){
	.inf_back h1{
	font-size: 2em;
    letter-spacing: 0.14em;
    margin-top: -100px;
	}

.inf_back p{
	font-size: 15px;
	}
	#bienvenidos{
		margin-top: 550px;
	}
	#mas_der21
	{
		margin-bottom: 350px;
	}
	#imagenes 
{
	margin-bottom: 600px;
	height:1300px;
}


	#section1 h3, #section2 h3, #section3 h3, #section4 h3{

	padding-top: 2%;
	color: #fff;
	text-align: center;
	font-size: 45px;

		
	
	} 
	#section1 p, #section2 p, #section3 p, #section4 p{

	padding-top: 0px;
	font-size: 21px;
	display: none;
	opacity: 0;

	
	}
		footer
	{
		height: 300px;
		margin-top: 100px;
		margin-top: 0 auto;
		padding-bottom: -15%;
		padding-top: 100px;
		font-size: 12px;

	}
	footer #piecera #content
	{
		width: 100%;
		margin-top: -30px;
		margin-bottom: 5%;


	}
	footer #piecera #content img
	{
		width: 85px;
		height: 30px;
	}

	footer #piecera #content2
	{
		width: 100%;
		margin-bottom: 5%;
	}
		footer #piecera #content2 p, #content3 p
	{
		display: none;
	}
	footer #piecera #content2 h3
	{
		margin-left: 32%;


	}
	footer #piecera #content2 img 
	{
		width: 25px;
		margin-top: 18%
	}
	footer #piecera #content2 ul li 
	{
		margin-right:10%;
		text-align: center;


	}

	footer #piecera #content3 img 
	{
		margin-top: 18%;

		width: 40px;
	}
	footer #piecera #content3
	{
		width: 100%;
	}
	
}
